:root {
    --color-main-background: #ededed;
    --color-main-font: #2a2a2a;
    --family-main-font: "Fira Code";
}

@font-face {
    font-family: "Fira Code";
    src: url("./fonts/fira_code/FiraCode-Regular.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Fira Code";
    src: url("./fonts/fira_code/FiraCode-Medium.ttf") format("ttf");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Fira Code";
    src: url("./fonts/fira_code/FiraCode-Bold.ttf") format("ttf");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Fira Code";
    src: url("./fonts/fira_code/FiraCode-SemiBold.ttf") format("ttf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    background-color: var(--color-main-background);
}

body {
    margin: 0;
    padding: 0;
    color: var(--color-main-font);
    font-family: var(--family-main-font);
    line-height: 2.4rem;
    font-size: 1.6rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.a--reset, .a--reset:hover, .a--reset:active, .a--reset:visited, .a--reset:focus {
    color: inherit;
    text-decoration: inherit;
}

.svg__lang {
    height: 3rem;
    width: auto;
    border: #2a2a2a solid .2rem;
    border-radius: .5rem;
}